DATABASE_URL="mysql://root:@127.0.0.1:3306/stubborn?serverVersion=9.1.0&charset=utf8mb4"

STRIPE_PUBLIC_KEY=pk_test_51UFVpPFX8i9G24duwJrIhOIUtXXe1pK1rRy6TIQ2DkrYD8q4lEFJlDa4HvqcX4xM33zJH5GGtcKgCW5Ay0qyGtk600GN5K5O5K
STRIPE_SECRET_KEY=sk_test_51UFVpPFX8i9G24duTRL0WUUjmntRzE0aRrHKw7ePL0O9lPLAgsKBxwiEKKdMZJIRa12U4o6hbs5VxhUL8c1UJXNx00w8MBjkd3
###> stripe/stripe-php ###
